@import "tailwindcss";

@font-face {
  font-family: 'ComicSansMS';
  src: url('/font/ComicSansMS.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Michroma";
  src: url("/font/static/Orbitron-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-michroma {
  font-family: "Michroma", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

body {
  font-family: "ComicSansMS", "Comic Sans", cursive;
  background:white;
  color: white;
  overflow-x: hidden;
  
}


.slider-container {
  width: 100%;
  margin: 50px auto;
}

.logo-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.logo-slide img {
  width: 120px;
  height: auto;
  opacity: 0.6; /* Logos latéraux plus discrets */
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.slick-center img {
  transform: scale(1); /* Logo central plus grand */
  opacity: 1;             /* Logo central plus visible */
}

/* Flèches */
.slick-prev, .slick-next {
  z-index: 1;
  width: 40px;
  height: 40px;
}

.slick-prev:before, .slick-next:before {
  font-size: 40px;
  background-color: linear-gradient(135deg, #4b0082, #6a0dad, #007bff);
}


/* Mobile : encore plus d’espace */
@media (max-width: 768px) {
  .logo-slide {
    padding: 0 20px;
  }

  .logo-slide img {
    width: 160px;
  }
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

